{% extends "base.html" %}

{% block title %}
    Feedforward Neural Network
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card text-center mt-5">
                        <div class="card-header">
                            <h2>Feedforward Neural Network</h2>
                        </div>
                        <div class="card-body">
                            <form onsubmit="event.preventDefault(); predict();">
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <input class="form-control" id="feature0" value="1" type="hidden">
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="feature1" aria-label="Default select example">
                                            <option selected>CARRIER_NAME</option>
                                            <option value="1">Alaska Airlines Inc.</option>
                                            <option value="2">Allegiant Air</option>
                                            <option value="3">American Airlines Inc.</option>
                                            <option value="4">American Eagle Airlines Inc.</option>
                                            <option value="5">Atlantic Southeast Airlines</option>
                                            <option value="6">Comair Inc.</option>
                                            <option value="7">Delta Air Lines Inc.</option>
                                            <option value="8">Endeavor Air Inc.</option>
                                            <option value="9">Frontier Airlines Inc.</option>
                                            <option value="10">Hawaiian Airlines Inc.</option>
                                            <option value="11">JetBlue Airways</option>
                                            <option value="12">Mesa Airlines Inc.</option>
                                            <option value="13">Midwest Airline, Inc.</option>
                                            <option value="14">SkyWest Airlines Inc.</option>
                                            <option value="15">Southwest Airlines Co.</option>
                                            <option value="16">Spirit Air Lines</option>
                                            <option value="17">United Air Lines Inc.</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="hidden">
                                    </div>
                                </div>
                                <div class="mt-5">
                                    <input type="submit" value="Predict" class="btn btn-outline-secondary">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <h3 id="result"></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </main>

    <script>
        async function predict() {
            const features = [
                parseFloat(document.getElementById('feature0').value),
                parseFloat(document.getElementById('feature1').value)
            ];
        
            const response = await fetch('http://localhost:5000/predictFNN', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ features }),
            });
        
            const result = await response.json();
            document.getElementById('result').textContent = 'Prediction: ' + result.prediction;
        }
    </script>

{% endblock %}