{% extends "base.html" %}

{% block title %}
    Random Forest Predictor
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card text-center mt-3">
                        <div class="card-header">
                            <h2>Random Forest Predictor</h2>
                        </div>
                        <div class="card-body">
                            <form onsubmit="event.preventDefault(); predict();">
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <select class="form-select" id="feature1" aria-label="Default select example">
                                            <option selected>PRCP</option>
                                            <option value="0">NO</option>
                                            <option value="1">YES</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="feature2" aria-label="Default select example">
                                            <option selected>PLANE_AGE</option>
                                            <option value="1">NEW</option>
                                            <option value="2">RELATIVELY NEW</option>
                                            <option value="3">MODERATE</option>
                                            <option value="4">USED</option>
                                            <option value="5">OLD</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="feature3" aria-label="Default select example">
                                            <option selected>SNOW</option>
                                            <option value="0">NO</option>
                                            <option value="1">YES</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <select class="form-select" id="feature4" aria-label="Default select example">
                                            <option selected>SNWD</option>
                                            <option value="0">NO</option>
                                            <option value="1">YES</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="feature5" aria-label="Default select example">
                                            <option selected>TMAX</option>
                                            <option value="1">VERY COLD</option>
                                            <option value="2">COLD</option>
                                            <option value="3">TEMPERED</option>
                                            <option value="4">HOT</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="feature6" aria-label="Default select example">
                                            <option selected>AWND</option>
                                            <option value="0">NO</option>
                                            <option value="1">YES</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <input class="form-control" type="hidden">
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" id="feature7" aria-label="Default select example">
                                            <option selected>SEASON</option>
                                            <option value="1">Summer</option>
                                            <option value="2">Winter</option>
                                            <option value="3">Autumn</option>
                                            <option value="4">Spring</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="hidden">
                                    </div>
                                </div>
                                <div class="mt-5">
                                    <input type="submit" value="Predict" class="btn btn-outline-secondary">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                            </button>
                            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
                                        Information 
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <h3>PLANE_AGE</h3>
                                    <p><b>NEW</b> for planes from 0 to 5 yearss</p>
                                    <p><b>RELATIVELY NEW</b> for planes from 6 to 10 years</p>
                                    <p><b>MODERATE</b> for planes from 11 to 15 years</p>
                                    <p><b>USED</b> for planes from 16 to 25 years</p>
                                    <p><b>OLD</b> for planes from 26 to 32 years</p>
                                    <h3>TMAX</h3>
                                    <p><b>VERY COLD</b> for temperatures below 20°F</p>
                                    <p><b>COLD</b> for temperatures between 20°F and 50°F</p>
                                    <p><b>TEMPERED</b> for temperatures between 50°F and 90°F</p>
                                    <p><b>HOT</b> for temperatures above 90°F</p>
                                    <h3>AWND</h3>
                                    <p><b>NO</b> for average wind speed below 10 knots</p>
                                    <p><b>YES</b> for average wind speed above 10 knots</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card text-center mt-5">
                        <div class="card-header">
                            <h2>Prediction</h2>
                        </div>
                        <div class="card-body">
                            <h4>Can the flight be delayed?</h4>
                            <h5 id="result"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        async function predict() {
            const features = [
                parseFloat(document.getElementById('feature1').value),
                parseFloat(document.getElementById('feature2').value),
                parseFloat(document.getElementById('feature3').value),
                parseFloat(document.getElementById('feature4').value),
                parseFloat(document.getElementById('feature5').value),
                parseFloat(document.getElementById('feature6').value),
                parseFloat(document.getElementById('feature7').value)
            ];
        
            const response = await fetch('http://localhost:5000/predictRF', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ features }),
            });
        
            const result = await response.json();
            document.getElementById('result').textContent = 'Prediction: ' + result.prediction;
        }
    </script>

{% endblock %}